// Your variable overrides can go here, e.g.:
$font-title: "Arial Black" !default;
$h4-font-size: 1rem !default;
// Import all of Bootstrap's CSS

@import "./variables";
@import "bootstrap/scss/bootstrap";
@import "./bootswatch";

body {
  padding: 1rem 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

h4 {
  font-size: $h4-font-size;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: $white;
}
// HEADER
.navbar {
  background-color: $body-bg;
}
.container-fluid {
  padding: 0;
}
.navbar-brand,
.navbar-brand:hover {
  font-family: $font-title;
  color: $red;
  font-size: $h2-font-size;
}

// SEARCH INPUT
.search {
  width: 15rem;
  border: 0.1em solid $white;
  border-radius: 50em;
  color: $white;
  background-image: url("../assets/images/search.png");
  background-repeat: no-repeat;
  background-position: 0.6em 0.6em;
  background-size: 1.25rem;
  padding-left: 2.25rem;
}

// forms
.form-control:focus {
  color: $white;
  border-color: $white;
  box-shadow: 0 0 0 0.25rem rgba(106, 106, 106, 0.25);
}

select {
  width: 20rem;
  padding: 0.75rem;
  background-color: $red;
  color: $white;
  border: none;
}

// PAGELIST ELEMENTS
.cardGame {
  width: 20em;
}

.cardBody {
  position: relative;
  width: 100%;
}
.cardImg {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: $dark;
}

.cardBody:hover .overlay {
  opacity: 1;
}

.textCard {
  margin: auto;
  color: $white;
  text-align: center;
}

.logo{
  margin-right: .75em;
}
// BUTTONS
.btn {
  border-radius: 0;
  font-size: $h4-font-size;
  font-weight: bold;
}
#showBtn {
  width: 20rem;
}

.dropdown-toggle::after {
  white-space: unset;
  background-color: $white;
}

// FOOTER

footer hr {
  border-top: 0.75rem solid $red;
  opacity: 1;
  width: 8rem;
}
