// Your variable overrides can go here, e.g.:
// $h1-font-size: 3rem;

// Import all of Bootstrap's CSS

@import "./variables";
@import "bootstrap/scss/bootstrap";
@import "./bootswatch";

// CARDS
.cardImg{
  width: 100%;
}

a.cardGame, a.cardGame:hover,  a.cardGame:visited{
  display: block;
  width: 20em;
  text-decoration: none;
  color: $white;
}

// .page-list .articles .cardGame
